body {
  background-color: #6b029c;
  text-align: center;
  color: white;
  font-size: 3rem;
}
input {
  font-size: 3rem;
  margin-top: 10%;
  border-width: 0px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 10px;
  background-color: #9e4ec2;
  border-bottom: 3px solid #dc8a04;
}
.city {
  margin-top: 2%;
}

.date {
  font-size: 1.5rem;
}
.temp {
  margin-top: 1%;
  font-size: 8rem;
  margin-bottom: 1%;
  text-shadow: 0px 5px black;
  font-weight: 900;
}
.weather {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  text-shadow: 0px 3px black;
}
.hi-low {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 0px 3px black;
}
