body{
    background-image: linear-gradient(rgb(159, 63, 214), rgb(42, 4, 65));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }  
  input{
    background-color: rgba(155, 95, 212, 0.568);
    height: 50px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin: 2%;
    color: rgb(207, 194, 194);
    border:none;
    box-shadow: 2px 5px 3px rgb(219, 112, 12);
    border-radius: 20px 0px 20px 0px;
  }  
  button{
    background-color: rgba(155, 95, 212, 0.568);
    height: 50px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin: 2%;
    color: rgb(228, 215, 215);
    border:none;
    box-shadow: 2px 4px 3px rgb(219, 112, 12);
    border-radius: 0px 20px 0px 20px;
  } 
  .location{
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(252, 252, 252);       
  }
  .city{
    font-size: 300%;
    font-weight: bold;
  }
  .date{
    font-size: 150%;
  }
  .temp{
   font-size: 800%;
    font-weight: bolder;
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(252, 252, 252);       
  }
  .weather{
   margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(252, 252, 252);
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
  }
  .high-low{
   font-family: 'Times New Roman', Times, serif;
    color: rgb(252, 252, 252);
    font-size: 150%;
    font-style: italic;

  }
