.app-wrap{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    text-align: center;
}
body{
    background-color: blueviolet;
    color:white;
}
.city{
    font-size: 50px;;
}
.weather,.hi-low{
    font-size: 40px;
}
.temp{
    font-size: 80px;
    font-weight: bolder;
}
.search-box,.submit,.city,.temp,.weather,.hi-low{
    margin:20px;
}
.search-box,.submit{
    border-radius: 10%;
    height:40px;
    width:200px;
    font-size: 20px;
}
.submit:hover{
    background-color: burlywood;
}